html {
    background-color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}

h1 {
    font-size: 24;
}

h2 {
    font-size: 18;
}

img {
    height: 400px;
    width: 400px;
}

p {
    font-size: 12;
}

a {
    color: seagreen
}

footer {
    font-size: 8;
}