html {
    background-color: rgb(8, 52, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white
}

nav {
    background-color: seashell;
    height: 50px;
}

nav a {
    color: skyblue
}

nav a:visited {
    color: darkcyan
}

h1 {
    font-size: 24;
}

h2 {
    font-size: 18;
}

img {
    height: 400px;
    width: 400px;
}

p {
    font-size: 12;
}

a {
    color: seagreen
}

footer {
    font-size: 8;
}